.MMM-Skolschema__content .day {
  text-align: center;
  padding: 0 0 0.5rem;
}

.MMM-Skolschema__content .schedule-rows {
  margin-bottom: 1rem;
}

.MMM-Skolschema__content .schedule-row {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: baseline;
}

.MMM-Skolschema__content .schedule-row .schedule-time .far {
  margin-left: 0.25rem;
  font-size: 0.5rem;
}

.MMM-Skolschema__content .schedule-row.divider-before {
  padding: 0.25rem 0 0;
  margin: 0.25rem 0 0;
  border-top: 1px solid var(--color-text-dimmed);
}

.MMM-Skolschema__content .schedule-row.divider-after {
  padding: 0 0 0.25rem;
  margin: 0 0 0.25rem;
  border-bottom: 1px solid var(--color-text-dimmed);
}

.MMM-Skolschema__content .schedule-row.divider-both {
  padding: 0.25rem 0;
  margin: 0.25rem 0;
  border-bottom: 1px solid var(--color-text-dimmed);
  border-top: 1px solid var(--color-text-dimmed);
}

.MMM-Skolschema__content .schedule-row.divider-after .percent-bar,
.MMM-Skolschema__content .schedule-row.divider-both .percent-bar {
  margin-bottom: 0;
}

.MMM-Skolschema__content .schedule-label {
  margin: 0 0 0 1rem;
}

.MMM-Skolschema__content .schedule-row.mirror .schedule-label {
  margin: 0 1rem 0 0;
}

.MMM-Skolschema__content .schedule-progress.percent-bar {
  width: 100%;
  height: 2px;
  position: relative;
  align-self: flex-end;
  margin: 0.25rem 0 0.5rem;
}

.MMM-Skolschema__content .schedule-progress .percent-value {
  display: block;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  will-change: width;
  transition: width 0.23s;
}

.MMM-Skolschema__content .schedule-progress.percent-pie {
  margin: 0 0 0 1rem;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid var(--color-text-bright);
  background: var(----color-background);
}

.MMM-Skolschema__content .row .no-schedule {
  text-align: center;
}

.MMM-Skolschema__alarms {
  position: absolute;
  z-index: 55;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.MMM-Skolschema__alarms .MMM-Skolschema-alarm {
  margin: 0.25rem auto;
  padding: 0.5rem 1rem;
  border-width: 2px;
}

.MMM-Skolschema__alarms .schedule_alarm-content {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.MMM-Skolschema__alarms .MMM-Skolschema-alarm .fa {
  width: 20px;
  margin-right: 0.5rem;
}
